body {
    margin: 0;
    overflow: hidden;
}

.image-slider {
    display: flex;
    overflow: hidden;
    animation: slide-left 10s linear infinite;
}

.image-large {
    flex: 2;
    transition: transform 0.5s;
}

.image-small {
    flex: 1;
    transition: transform 0.5s;
}

.image-small img {
    width: 100%;
    height: auto;
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
